/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/* top part */

.top-section {
  display: flex;
  justify-content: center;
  background-color: #2d25a0;
}
.top-section:hover .banner {
  transition: 1.5s ease-in;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.banner {
  margin-top: 70px;
  position: relative;
}
.top-banner-left {
  position: relative;
  margin-bottom: 150px;
  margin-top: 30px;
  margin-right: 320px;
}
.copa-america {
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}
.watch-live {
  display: flex;
  align-items: center;
  width: 168px;
  height: 39px;
  color: #ffffff;
  background: #e02c6d;
}
.watch-live-info {
  margin-left: 22px;
  margin-right: 6px;
  font-weight: 16px;
}
.fas-fa-arrow-right {
  margin-left: 4px;
  width: 24px;
  height: 24px;
}
.top-banner {
}
.banner {
  width: 556.01px;
  height: 438px;
}
/* --------------------------
  top players styles 
  ---------------------------*/
.players {
  margin-top: 70px;
  margin-left: 179px;
  margin-right: 210px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.player {
  width: 430px;
  height: 574px;
  margin-bottom: 20px;
  border: 0.5px #d1d1d1;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 5px;
  padding-bottom: 4px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.thumbnail {
  margin-top: 5px;
  margin-left: 14px;
  width: 400px;
  height: 256px;
}
.player-title {
  margin-left: 10px;
  margin-right: 5px;
}
/*----------------------
 buttom part styles 
 -------------------------*/
.social-media-part {
  margin-top: 100px;
  margin-bottom: 60px;
}
.media {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
}
.media-logo {
  width: 483.87px;
  height: 110px;
}
#social-icon {
  background: #969bab8e;
  padding: 10px;
  border-radius: 20px;
  margin-right: 14px;
}

footer {
  color: #000000;
  font-size: 18px;
  font-weight: 400px;
}
